* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.bigdiv .img1 {
  width: 100%;
  height: 1300px;
}

.asosiy {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
}

.asosiy ul {
  /* background-color: black; */
  padding: 30px;
  position: relative;
  height: 0;
}

.asosiy li {
  color: black;
  display: inline;
  padding: 30px;
}

.asosiy a:hover {
  color: lightblue;
}

.asosiy a {
  text-decoration: none;
  color: white;
  text-transform: capitalize;
  font-size: 20px;
}

.asosiy div {
  width: 50%;
}

.asosiy .heading2 {
  position: absolute;
}

.asosiy .heading2 h2 {
  font-size: 60px;
  color: white;
  margin-top: 100px;
  margin-left: -900px;
  position: absolute;
}

.asosiy .left {
  padding-top: 30px;
  padding-right: 100px;
  height: 0;
  position: relative;
}

.asosiy .right {
  padding-top: 80px;
  float: right;
}

.asosiy h1 {
  padding-left: 300px;
  padding-top: 80px;
}

.asosiy h2 {
  font-size: 60px;
  color: white;
  padding-left: 600px;
  padding-top: 400px;
  float: right;
}

.asosiy2 {
  height: 1000px;
  background: #a89c9c;
}

.asosiy2 img {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  width: 1000px;
  height: 500px;
  margin-top: 200px;
  padding-left: 300px;
}

.asosiy2 .image {
  float: right;
  left: 0;
  margin-left: -100px;
}

.asosiy2 .text {
  margin-left: 90px;
  margin-top: 200px;
  float: left;
  top: 0;
  width: 30%;
  font-size: 30px;
}

.asosiy2 .text p {
  color: grey;
}

.asosiy3 {
  width: 100%;
  height: 1300px;
}

.asosiy3 h1 {
  color: black;
  padding-top: 100px;
  text-align: center;
  font-size: 50px;
}

.asosiy3 .container1 {
  margin-left: 330px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 100px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.asosiy3 .container1 .rasim:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  -webkit-box-shadow: 4px 4px 4px   black;
          box-shadow: 4px 4px 4px   black;
}

.asosiy3 .container2 {
  margin-left: 330px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 60px;
}

.asosiy3 .container2 .rasim:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  -webkit-box-shadow: 4px 4px 4px   black;
          box-shadow: 4px 4px 4px   black;
}

.asosiy3 .rasim {
  margin-left: 50px;
  position: relative;
}

.asosiy3 .rasim img {
  position: relative;
  width: 350px;
  height: 400px;
}

.asosiy3 .rasim h4 {
  color: white;
  margin-left: 10px;
  margin-top: -40px;
  position: absolute;
}

.asosiy3 .rasim h5 {
  color: white;
  margin-left: 10px;
  position: absolute;
  margin-top: -23px;
}

.asosiy4 h1 {
  color: black;
  padding-top: 100px;
  text-align: center;
  font-size: 50px;
}

.asosiy4 h4 {
  padding-top: 30px;
  text-align: center;
  width: 600px;
  margin-left: 640px;
  line-height: 1.5;
}

.asosiy4 {
  height: 1000px;
  background-color: aliceblue;
}

.asosiy4 h4 {
  color: #a09393;
}

.asosiy4 .container3 {
  margin-left: 350px;
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.asosiy4 .container3 div {
  position: relative;
  width: 400px;
  height: 300px;
}

.asosiy4 .container3 div h1 {
  margin-top: -90px;
  font-size: 30px;
}

.asosiy4 .container3 div p {
  color: red;
  text-align: center;
  padding-top: 10px;
}

.asosiy4 .container3 div img {
  width: 400px;
  height: 300px;
  padding-left: 30px;
}

.asosiy5 h1 {
  color: black;
  padding-top: 100px;
  text-align: center;
  font-size: 50px;
}

.asosiy5 h4 {
  padding-top: 30px;
  text-align: center;
  width: 600px;
  margin-left: 660px;
  line-height: 1.5;
  color: #a09393;
}

.asosiy5 img {
  width: 70%;
  height: 900px;
  margin-top: 80px;
  margin-left: 300px;
}

.asosiy6 {
  background-image: url(./photo_2021-11-06_14-44-32.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  height: 1500px;
}

.asosiy6 h1 {
  color: white;
  padding-top: 100px;
  text-align: center;
  font-size: 60px;
}

.asosiy6 h5 {
  padding-top: 30px;
  text-align: center;
  width: 600px;
  margin-left: 660px;
  line-height: 1.5;
  color: white;
  font-size: 17px;
}

.asosiy6 .chap {
  margin-top: 100px;
  float: left;
  margin-left: 300px;
}

.asosiy6 .chap h4 {
  padding-top: 10px;
  color: #a59d9d;
  width: 600px;
  line-height: 1.5;
}

.asosiy6 .chap h3 {
  color: white;
  padding-top: 20px;
  font-size: 30px;
}

.asosiy6 .ong {
  margin-top: 100px;
  margin-left: 1000px;
}

.asosiy6 .ong h4 {
  padding-top: 10px;
  color: #a59d9d;
  width: 600px;
  line-height: 1.5;
}

.asosiy6 .ong h3 {
  color: white;
  padding-top: 20px;
  font-size: 30px;
}

.asosiy6 .navbar {
  margin-top: 100px;
  padding-left: 660px;
}

.asosiy6 .navbar ul {
  padding: 30px;
  position: relative;
  height: 0;
}

.asosiy6 .navbar li {
  color: black;
  display: inline;
  padding: 30px;
}

.asosiy6 .navbar a {
  text-decoration: none;
  color: red;
  text-transform: capitalize;
  font-size: 30px;
}

.asosiy7 {
  background-color: aliceblue;
  height: 1000px;
}

.asosiy7 h1 {
  color: black;
  padding-top: 100px;
  text-align: center;
  font-size: 50px;
}

.asosiy7 h4 {
  padding-top: 30px;
  text-align: center;
  width: 600px;
  margin-left: 650px;
  line-height: 1.5;
  color: #a09393;
}

.asosiy7 .container4 {
  margin-left: 250px;
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.asosiy7 .container4 div {
  margin-left: 50px;
  width: 400px;
  height: 300px;
}

.asosiy7 .container4 div img {
  width: 400;
  height: 300px;
}

.asosiy7 .container4 h5 {
  padding-top: 10px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
  color: #978c8c;
}

.asosiy7 .container4 h6 {
  padding-top: 10px;
  font-size: 20px;
  color: #978c8c;
}

.asosiy7 .container4 a {
  font-size: 30px;
  text-decoration: none;
  color: black;
}

.asosiy7 .container4 a:hover {
  color: red;
}

.asosiy8 {
  height: 1100px;
  color: black;
}

.asosiy8 h1 {
  color: black;
  padding-top: 100px;
  text-align: center;
  font-size: 50px;
}

.asosiy8 h4 {
  padding-top: 30px;
  text-align: center;
  width: 600px;
  margin-left: 650px;
  line-height: 1.5;
  color: #a09393;
}

.asosiy8 .label {
  float: left;
  color: #a79b9b;
  padding-left: 40px;
  margin-top: 100px;
  margin-left: 300px;
  border: 1px solid #a79b9b;
  width: 600px;
  height: 600px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 25px;
}

.asosiy8 .label i {
  color: black;
  width: 26px;
  float: left;
  text-align: center;
}

.asosiy8 .label input {
  width: 230px;
  height: 40px;
}

.asosiy8 .label .label-right {
  padding-left: 300px;
  margin-top: -67px;
}

.asosiy8 .label .email {
  padding-top: 30px;
}

.asosiy8 .label .email input {
  width: 530px;
}

.asosiy8 .label .message {
  padding-top: 30px;
}

.asosiy8 .label .message input {
  height: 200px;
  width: 530px;
}

.asosiy8 .label button {
  margin-top: 30px;
  width: 200px;
  height: 50px;
  background: red;
  border: none;
  border-radius: 50px;
  font-size: 18px;
  color: white;
}

.asosiy8 .label button:hover {
  background: #ac1616;
}

.asosiy8 .yozuv {
  margin-right: 200px;
  margin-top: 100px;
  /* padding-top: 200px; */
  float: right;
  font-size: 20px;
}

.asosiy8 .yozuv h5 {
  margin-top: 30px;
  color: #a09393;
}

.asosiy8 .yozuv h2 {
  margin-top: 30px;
}

.asosiy9 {
  background-image: url(./photo_2021-11-06_14-44-32.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  height: 1000px;
}

.asosiy9 .pastdagi-div h1 {
  color: white;
  padding-top: 100px;
  padding-left: 300px;
  font-size: 40px;
}

.asosiy9 .pastdagi-div .btn {
  border: 2px solid white;
  padding-top: 20px;
  font-size: 25px;
  text-align: center;
  background: none;
  margin-left: 1300px;
  margin-top: -50px;
  color: white;
  border-radius: 50px;
  width: 200px;
  height: 70px;
}

.asosiy9 .pastdagi-div .btn:hover {
  background: red;
  border: none;
}

.asosiy9 .pastdagi-ul {
  margin-top: 100px;
  float: left;
  width: 100%;
  height: 100%;
  padding-top: 100px;
  padding-left: 100px;
  background: black;
}

.asosiy9 .pastdagi-ul .ul-chap {
  float: left;
}

.asosiy9 .pastdagi-ul .ul-chap ul {
  padding: 30px;
  position: relative;
  line-height: 2px;
}

.asosiy9 .pastdagi-ul .ul-chap li {
  color: black;
  padding: 30px;
}

.asosiy9 .pastdagi-ul .ul-chap a {
  text-decoration: none;
  color: #a09797;
  text-transform: capitalize;
  font-size: 25px;
}

.asosiy9 .pastdagi-ul .ul-chap a:hover {
  color: white;
}

.asosiy9 .pastdagi-ul .ul-ong {
  margin-left: 400px;
}

.asosiy9 .pastdagi-ul .ul-ong ul {
  padding: 30px;
  position: relative;
  line-height: 0;
}

.asosiy9 .pastdagi-ul .ul-ong li {
  color: black;
  padding: 30px;
}

.asosiy9 .pastdagi-ul .ul-ong a {
  text-decoration: none;
  color: #a09797;
  text-transform: capitalize;
  font-size: 25px;
}

.asosiy9 .pastdagi-ul .ul-ong a:hover {
  color: white;
}

.asosiy9 .pastdagi-ul .ong1 {
  float: left;
  /* top: 0; */
  margin-top: -260px;
  color: red;
  margin-left: 500px;
  width: 300px;
  height: 600px;
  background-color: black;
}
.ong1 h1{
  color: rgb(255, 255, 255);
  /* float: right; */
  margin-left: 40px;
  margin-top: -30px;
}
.ong1 h2{
  color: rgb(121, 118, 118);
  padding-top: 20px;
}
.input11 input{
  background: none;
  border: none;
  border-bottom: 2px solid white;
  font-size: 20px;
  padding-bottom: 10px;
  padding-left: 10px;
  font-family: sans-serif;
}
/*# sourceMappingURL=style.css.map */